page-user-detail {

    body{
        background-color: black;
        }
    
        .claro{
            text-align: center;
        }
    
        .usuario{
            background-color: black;
        }
    }
    